@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    max-height: 100vh;
    overflow-y: auto;
  }
  * {
    @apply transition-colors;
  }

  * {
    @apply focus:outline-none focus-visible:ring-2 focus-visible:ring-primary focus-visible:ring-opacity-75;
  }
}
